body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(to right, #d3d3d3, #748ca3);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quoteContainer {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 40%; 
    max-width: 350px; 
    text-align: center;
    transition: 0.3s ease;
}

#quoteContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

h1, #quote, #author {
    margin-bottom: 15px;
}

h1 {
    color: #2c3e50;
    font-size: 1.6rem; 
    font-weight: 600;
}

#quote {
    font-size: 1.2rem;
    color: #5d6d7e;
}

#author {
    font-size: 1rem;
    color: #839192;
    font-style: italic;
}

button, #searchQuote {
    background: #566573;
    color: #fff;
    border: none;
    padding: 8px 20px; 
    font-size: 0.9rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover, #searchQuote:hover {
    background: #85c1e9;
    transform: scale(1.05);
}

#authorName {
    padding: 8px;
    border: 2px solid #566573;
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

#authorName:focus {
    border-color: #85c1e9;
}

#loading {
    margin-top: 15px;
    font-size: 1.2rem; 
    color: #5d6d7e;
}

@media (max-width: 600px) {
    #quoteContainer {
        width: 75%;
        padding: 15px;
    }

    h1 {
        font-size: 1.4rem;
    }

    button {
        font-size: 0.8rem;
    }
}
